:before,
:after {
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 12px;
}

#content-box{
	width:920px;
	margin:0 auto;
}

#collect-label-box{
    width:300px;
	height:480px;
    float:left;
}

#now-time-box {
	width:300px;
	height:480px;
	float:left;
	margin-left:5px;
}

#now-time-box-name{
	font-size:18px;
    color: #808080;
    padding-bottom: 2px;
    text-transform: uppercase;
}
#now-timestamp{
	color:white;
}
#now-date-string{
	color:white;
}

#encryption-decryption-box {
	width: 300px;
	height:480px;  
	float:left;
	margin-left:5px;
}

/*
#jsonview-box {
  width: 40%;
}

.box-name {
  color: #808080;
  font-size: 12px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

#query, #results {
  flex: 1;
  width: 100%;
}
*/